<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcKAKEmdeLDMkkVAqTSf-58iHFFTI2nuE</string>
	<key>GCM_SENDER_ID</key>
	<string>342999556563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.mycompassion.app</string>
	<key>PROJECT_ID</key>
	<string>compassion-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>compassion-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342999556563:ios:e8ab1ec2755d0951aecf26</string>
	<key>DATABASE_URL</key>
	<string>https://compassion-mobile.firebaseio.com</string>
</dict>
</plist>